@tailwind base;
@tailwind components;
@tailwind utilities;

.personal {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}
.personal label {
    text-align: left;
    display: block;
}
.personal input, .personal select {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
}
.personal button {
    background: #424242;
    color: white;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}
.button-container {
    display: flex;
    justify-content: space-between;
}