@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.Edit-form {
    max-width: 500px;
    margin: 0 auto;
    text-align:center;
}
.default {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

